body {
    position: relative;
}

label {
    -webkit-user-select: none;
    pointer-events: none;
}

.player-out {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hover-opacity iframe {
    opacity: 1;
    transition: 0.3s
}

.hover-opacity iframe:hover {
    animation-duration: 2s;
    animation-name: hover;
}

@keyframes hover {
    0% {
        opacity: 1;
    }

    15% {
        opacity: 0.35;
    }

    85% {
        opacity: 0.35;
    }

    100% {
        opacity: 1;
    }
}

.title {
    z-index: 2;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin:0 0 0 auto;
    vertical-align: middle;
}

.title i {
    font-size: 20px !important;
}

.drag {
    -webkit-app-region: drag;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
}

.title-button-container {
    float: right;
    z-index: 3 !important;
    width: 30px;
    height: 100%;
    margin-right: 0%;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    text-align: center;
    display: flex;
}

.title-button {
    width: 100%;
    height: 100%;
}

.close-button:hover {
    background-color: red;
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}

.menu {
    z-index: 1;
    background-color: rgba(40, 44, 52, 0.95);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hidden {
    visibility : hidden;
}

.container {
    padding-top: 80px;
}

.infobox {
    padding-top: 25px;
    -webkit-user-select: none;
}

/*
.background {
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
*/